/*--------------------------------------------------
ALWAYS INCLUDE
--------------------------------------------------*/

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    text-align: center;
    padding: 15px;
    background: #E3DEC1;
}


/*--------------------------------------------------
NAV / SEARCH BAR
--------------------------------------------------*/

hr {
    width: 60%;
}

a {
    text-decoration: none;
}

p {
    font-size: 18px;
    margin: 5px 0;
}

.headline {
    text-align: center;
    font-size: 3rem;
    font-family: "Times New Roman", Times, serif;
    color: orangered;
    text-decoration: none;
}

.search {
    text-align: center;
    width: 40%;
    font-size: 1rem;
}

.suggestion {
    margin: 10px;
}

.suggestion:visited {
    color: blue;
}

.links {
    text-decoration: none;
    text-align: center;
    margin-bottom: 40px;
}

.navBar {
    text-align: center;
    margin-bottom: 20px;
    display: block;
}


/*--------------------------------------------------
ITEM BOXES
--------------------------------------------------*/

.container {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.itemContainer {
    width: 18%;
    display: inline-block;
    border: 2px solid grey;
    margin: 10px;
    vertical-align: top;
    padding: 10px;
    background-color: lightgrey;
    font-size: 18px;
    box-shadow: 2px 2px black;
    height: 350px;
}

.itemContainer:hover {
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px teal;
}

.title {
    margin-bottom: 10px;
}

.price {
    background: green;
    color: white;
}

/*--------------------------------------------------
DETAIL PAGE
--------------------------------------------------*/

.detailPage {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.detailTitle {
    font-size: 20px;
    color: orangered;
}

.detailImg {
    margin: 15px;
}

.detailDescription {
    font-size: 18px;
    color: black;
}